<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2>{{ sound.name }}</h2>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-header">BPM</div>
        <div class="card-body">{{ sound.bpm }}</div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-header">Instruments</div>
        <div class="card-body">
          <ul>
            <li *ngFor="let instrument of sound.instruments">
              {{ instrument.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-header">Genres</div>
        <div class="card-body">
          <ul>
            <li *ngFor="let genre of sound.genres">
              {{ genre.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row detail-row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">Description</div>
        <div class="card-body">{{ sound.description }}</div>
      </div>
    </div>
  </div>

  <div class="row detail-row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">Audio</div>
        <div class="card-body">
          <app-audio-player [base64]="sound.audioFile"></app-audio-player>
        </div>
      </div>
    </div>
  </div>  
  <div class="row mt-3 ">
    <div class="col-lg-12">
      <button class="btn btn-secondary" (click)="goBack()">Back</button>
    </div>
  </div>
</div>
